In [124]:
%pylab inline
from sklearn import \
    datasets, \
    linear_model, \
    cross_validation, \
    preprocessing, \
    svm

import pandas as pd
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

In [125]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [126]:
df_train.info()
df_test.info()
# survival        Survival (0 = No; 1 = Yes)
# pclass          Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd) - socio economic status
# name            Name
# sex             Sex
# age             Age
# sibsp           Number of Siblings/Spouses Aboard
# parch           Number of Parents/Children Aboard
# ticket          Ticket Number
# fare            Passenger Fare
# cabin           Cabin
# embarked        Port of Embarkation
#                 (C = Cherbourg; Q = Queenstown; S = Southampton)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [127]:
df_train = df_train.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
df_test = df_test.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

In [129]:
df_train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [130]:
df_train = df_train.replace(['S','Q','C'], [0,1,2])
df_train = df_train.replace(['male', 'female'], [0,1])
# df_train.fillna(0)

In [123]:
df_train.describe()
print df_train

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0           0       3    0  22.0      1      0    7.2500       0.0
1           1       1    1  38.0      1      0   71.2833       2.0
2           1       3    1  26.0      0      0    7.9250       0.0
3           1       1    1  35.0      1      0   53.1000       0.0
4           0       3    0  35.0      0      0    8.0500       0.0
5           0       3    0   NaN      0      0    8.4583       1.0
6           0       1    0  54.0      0      0   51.8625       0.0
7           0       3    0   2.0      3      1   21.0750       0.0
8           1       3    1  27.0      0      2   11.1333       0.0
9           1       2    1  14.0      1      0   30.0708       2.0
10          1       3    1   4.0      1      1   16.7000       0.0
11          1       1    1  58.0      0      0   26.5500       0.0
12          0       3    0  20.0      0      0    8.0500       0.0
13          0       3    0  39.0      1      5   31.2750       0.0
14          0       3    1  14.0      0      0    7.8542       0.0
15          1       2    1  55.0      0      0   16.0000       0.0
16          0       3    0   2.0      4      1   29.1250       1.0
17          1       2    0   NaN      0      0   13.0000       0.0
18          0       3    1  31.0      1      0   18.0000       0.0
19          1       3    1   NaN      0      0    7.2250       2.0
20          0       2    0  35.0      0      0   26.0000       0.0
21          1       2    0  34.0      0      0   13.0000       0.0
22          1       3    1  15.0      0      0    8.0292       1.0
23          1       1    0  28.0      0      0   35.5000       0.0
24          0       3    1   8.0      3      1   21.0750       0.0
25          1       3    1  38.0      1      5   31.3875       0.0
26          0       3    0   NaN      0      0    7.2250       2.0
27          0       1    0  19.0      3      2  263.0000       0.0
28          1       3    1   NaN      0      0    7.8792       1.0
29          0       3    0   NaN      0      0    7.8958       0.0
..        ...     ...  ...   ...    ...    ...       ...       ...
861         0       2    0  21.0      1      0   11.5000       0.0
862         1       1    1  48.0      0      0   25.9292       0.0
863         0       3    1   NaN      8      2   69.5500       0.0
864         0       2    0  24.0      0      0   13.0000       0.0
865         1       2    1  42.0      0      0   13.0000       0.0
866         1       2    1  27.0      1      0   13.8583       2.0
867         0       1    0  31.0      0      0   50.4958       0.0
868         0       3    0   NaN      0      0    9.5000       0.0
869         1       3    0   4.0      1      1   11.1333       0.0
870         0       3    0  26.0      0      0    7.8958       0.0
871         1       1    1  47.0      1      1   52.5542       0.0
872         0       1    0  33.0      0      0    5.0000       0.0
873         0       3    0  47.0      0      0    9.0000       0.0
874         1       2    1  28.0      1      0   24.0000       2.0
875         1       3    1  15.0      0      0    7.2250       2.0
876         0       3    0  20.0      0      0    9.8458       0.0
877         0       3    0  19.0      0      0    7.8958       0.0
878         0       3    0   NaN      0      0    7.8958       0.0
879         1       1    1  56.0      0      1   83.1583       2.0
880         1       2    1  25.0      0      1   26.0000       0.0
881         0       3    0  33.0      0      0    7.8958       0.0
882         0       3    1  22.0      0      0   10.5167       0.0
883         0       2    0  28.0      0      0   10.5000       0.0
884         0       3    0  25.0      0      0    7.0500       0.0
885         0       3    1  39.0      0      5   29.1250       1.0
886         0       2    0  27.0      0      0   13.0000       0.0
887         1       1    1  19.0      0      0   30.0000       0.0
888         0       3    1   NaN      1      2   23.4500       0.0
889         1       1    0  26.0      0      0   30.0000       2.0
890         0       3    0  32.0      0      0    7.7500       1.0

[891 rows x 8 columns]

In [110]:
train = df_train.as_matrix()
test = df_test.as_matrix() # no labels here

X_train = train[:,1:]
Y_train = train[:, 0]

# remove C in Cabin
#

In [111]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((891, 7), (418, 7), (891,), (418,))

In [112]:
cls = linear_model.LogisticRegression()
cls.fit(X_train,Y_train)
cls.score(X_test,Y_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').