In [132]:
%pylab inline
from sklearn import \
    datasets, \
    linear_model, \
    cross_validation, \
    preprocessing, \
    svm

import pandas as pd
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['test']
`%matplotlib` prevents importing * from pylab and numpy

In [133]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

#df_train.info()
#df_test.info()
# survival        Survival (0 = No; 1 = Yes)
# pclass          Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd) - socio economic status
# name            Name
# sex             Sex
# age             Age
# sibsp           Number of Siblings/Spouses Aboard
# parch           Number of Parents/Children Aboard
# ticket          Ticket Number
# fare            Passenger Fare
# cabin           Cabin
# embarked        Port of Embarkation
#                 (C = Cherbourg; Q = Queenstown; S = Southampton)

df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [134]:
df_train = df_train.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
df_test = df_test.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

df_train = df_train.replace(['C','Q','S'], [0,1,2])
df_train = df_train.replace(['male', 'female'], [0,1])
df_train = df_train.fillna(0)

df_test = df_test.replace(['C','Q','S'], [0,1,2])
df_test = df_test.replace(['male', 'female'], [0,1])
df_test = df_test.fillna(0)

In [135]:
train = df_train.as_matrix()
test = df_test.as_matrix() # no labels here

X_train = train[:,1:]
Y_train = train[:, 0]

In [136]:
cls = linear_model.LogisticRegression()
cls.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [138]:
cls.score(X_train, Y_train)

0.79461279461279466